canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p {
	font-family: "Arial";
}

button {
	font-family: "Arial";
}
#content {
	margin: auto;
	width: 275px;
}

.zoom {
	transform-origin: left top;
	transform: scale(1.3);
	margin-right: 23.08%;	
}
